@page "/categories"

@rendermode InteractiveServer

@inject ICategoryService CategoryService
@inject NavigationManager navigationManager
@inject ICategoryMappers CategoryMappers

<h3>Categories</h3>

<div class="container mx-auto px-4 py-6">
    <div class="flex justify-between items-center mb-4">
        <h1 class="text-2xl font-bold">Gestión de Categorias</h1>
        <NavLink href="/Categories/Create" class="bg-blue-500 p-2 text-white rounded-5">
            <span>Crear categorias</span>
        </NavLink>
    </div>

    <table class="min-w-full bg-white border border-gray-200">
        <thead class="bg-gray-200">
            <tr>
                <th class="py-2 px-4 border-b">ID</th>
                <th class="py-2 px-4 border-b">Nombre de la categoria</th>
                <th class="py-2 px-4 border-b">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (categories is not null)
            {
                @foreach (var category in categories)
                {
                    <tr>
                        <td class="py-2 px-4 border-b">@category.Id</td>
                        <td class="py-2 px-4 border-b">@category.Name</td>
                        <td class="py-2 px-4 border-b">
                            <button class="bg-yellow-500 text-white p-2 rounded-md mr-2"
                                    @onclick="@(() => NavigateToUpdate(category.Id))">
                                Update
                            </button>

                            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded"
                                    @onclick="@(() => DeleteProductAsync(category.Id))">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    private List<CategoryResponseDTO> categories = new List<CategoryResponseDTO>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    private async Task LoadProducts()
    {
        categories = await CategoryService.GetCategories();
    }

    private async Task DeleteProductAsync(int id)
    {
        await CategoryService.DeleteCategory(id);
        await LoadProducts();
    }

    private void NavigateToUpdate(int id)
    {
        navigationManager.NavigateTo("/Categories/Update/" + id);
    }

}
